{
  "env": {
    "production": {
       "presets": ["es2015-rollup"],
      "plugins": [
        "transform-node-env-inline",
        ["transform-react-jsx", { "pragma": "h" }]
      ]
    },
    "test": {
      "presets": ["es2015"]
    }
  }

}
